.chart-wrapper {
  canvas {
    width: 100% !important;
  }
}
// scss-lint:disable QualifyingElement
base-chart.chart {
  display: block !important;
}

.input-group{
  input.dates { 
    border: 1px solid #20a8d8;
    margin-bottom: 25px;
  }
}

